@{
    Layout = "_Layout";
    //C stands for controller and H stands for help Area
    string cH = ViewContext.RouteData?.Values["controller"]?.ToString() ?? "";
}
@section header
{
    <h2>Howdy, Need Help?</h2>
}

<nav class="nav nav-tabs mt-4 mb-4">
    <a class="nav-item nav-link @(cH == "Home" ? "active" :"")" asp-controller="Home" asp-action="Index" asp-area="Help">Home<sup style="color: red">*Help Menu*</sup></a>
    <a class="nav-item nav-link @(cH == "Tutorial" ? "active" :"")" asp-controller="Tutorial" asp-action="Index" asp-area="Help">Tutorial<sup style="color: red">*Help Menu*</sup></a>
</nav>
@RenderBody()