@{
    ViewData["Title"] = "Tutorial Page 2";
}
<h2>Tutorial - Page 2</h2>
<p>The Pythagorean theorem is a fundamental principle in geometry that relates the lengths of the sides of a right triangle. 
    <br> Named after the ancient Greek mathematician Pythagoras, the theorem states that in a right triangle, the square of the length of the hypotenuse (the side opposite the right angle) is equal to the sum of the squares of the lengths of the other two sides. 
    <br> Mathematically, it can be expressed as a^2 + b^2 = c^2, where 'a' and 'b' are the lengths of the two shorter sides (legs) of the triangle, and 'c' is the length of the hypotenuse. 
    <br> The Pythagorean theorem has numerous applications in various fields, including architecture, engineering, physics, and computer graphics. 
    <br> It provides a fundamental tool for calculating distances, determining angles, and solving problems involving right triangles. 
    <br> Understanding the Pythagorean theorem is essential for mastering geometry and its applications in real-world scenarios.</p>
<a asp-action="Index" asp-route-id="Page1" class="btn btn-dark">Previous Page <sup>1</sup></a>
<a asp-action="Index" asp-route-id="Page3" class="btn btn-dark">Next Page <sup>3</sup></a>