@{
    ViewData["Title"] = "Home Page";
}

<h2>Welcome to the Help Page!</h2>
<p>If you need a tutorial, click the <a asp-controller="Tutorial" asp-action="Index" asp-route-id="Page1">Tutorial</a> tab above!</p>